<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-8">
            <h1>My Account</h1><br>
        </div>

        <div class="col-xl-2">
        </div>
    </div>

    <div class="row">
        <div class="col-xl main">
            <div class="row">
                <div class="col-xl-6">
                    <p class="info">User ID: <%= userID %></p>
                </div>

                <div class="col-xl-6">
                    <p class="info">Profile photo:</p>
                    <img src="data:<%= profile_photo_content_type %>;base64,<%= profile_photo %>"
                         class="profile_photo" alt="Unknown error">
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-xl-4">
                    <form action="/change_password_page" method="get">
                        <input type="submit" value="Change Password">
                    </form>
                </div>

                <div class="col-xl-4">
                    <form action="/start_friendship" method="get">
                        <input type="submit" value="Return">
                    </form>
                </div>

                <div class="col-xl-4">
                    <form action="/delete_account_confirm" method="get">
                        <input class="delete_account" type="submit" value="Delete Account">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
