<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-8">
            <h1>My Account</h1><br>
        </div>

        <div class="col-xl-2">
        </div>
    </div>

    <div class="row">
        <div class="col-xl main">
            <div class="row">
                <div class="col-xl-6">
                    <p class="info">User ID: <%= userID %></p>
                </div>

                <div class="col-xl-6">
                    <p class="info">Profile photo:</p>
                    <img src="data:<%= profile_photo_content_type %>;base64,<%= profile_photo %>"
                         class="profile_photo" alt="Unknown error">
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-xl-4">
                    <input type="button" onclick="window.open('/change_password_page', '_self')" value="Change Password">
                </div>

                <div class="col-xl-4">
                    <input type="button" onclick="window.open('/start_friendship', '_self')" value="Return">
                </div>

                <div class="col-xl-4">
                    <input class="delete" type="button" onclick="window.open('/delete_account_confirm', '_self')" value="Delete Account">
                </div>
            </div>
        </div>
    </div>
</div>
