<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container" >
	<div class="row">
		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 main">
			<form action="/login" method="post">
				<h1>Login</h1>
				<label for="email_login">E-Mail</label>
				<input class="box" type="email" id="email_login"
					   name="email_login" placeholder="example@123.com" required /><br>

				<label for="password_login">Password</label>
				<input class="box" type="password" id="password_login"
					   name="password_login" placeholder="Enter your password" required /><br>

				<input type="submit" id="submit_login"
					   value="Login" /><br>
			</form>

			<form action="/" method="get">
				<input type="submit" id="login_page_return2home"
					   value="Return">
			</form>
		</div>

		<div class="col-lg-3">
		</div>
	</div>
</div>
