<!DOCTYPE html> 
<html lang="en"> 
	<head>
		<meta charset="utf-8">
		<title>Login</title> 
	
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
			crossorigin="anonymous">
          
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
				crossorigin="anonymous">
		</script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
				integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
				crossorigin="anonymous">
		</script>
	</head>

	<body class="general_page">
		<br> 
		<br> 
		<br> 
		<div class="container" > 
			<div class="row"> 
				<div class="col-lg-3"> 
				</div>
				
				<div class="col-lg-6 main"> 
					<form action="/login" method="post"> 
						<h1>Login</h1> 
						<input class="box" type="email" id="email_login" 
							name="email_login" placeholder="E-Mail" required /><br> 

						<input class="box" type="password" id="password_login" 
							name="password_login" placeholder="Password" required /><br> 

						<input type="submit" id="submit_login"
							value="Login" /><br>
					</form>
					
					<form action="/" method="get">
						<input type="submit" id="login_page_return2home"
							value="Return">
					</form>
				</div>
				
				<div class="col-lg-3"> 
				</div> 
			</div> 
		</div>
	</body> 
</html>
