<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container" >
	<div class="row">
		<div class="col-xl-3">
		</div>

		<div class="col-xl-6 main">
			<form action="/login" method="post">
				<h1>Login</h1>
				<label for="email_login">E-Mail</label>
				<input class="box" type="email" name="email_login" id="email_login"
					   placeholder="example@123.com" required /><br>

				<label for="password_login">Password</label>
				<input class="box" type="password" name="password_login" id="password_login"
					   placeholder="Enter your password" required /><br>

				<input type="submit" value="Login"><br>
			</form>

			<input type="button" onclick="history.back()" value="Return">
		</div>

		<div class="col-xl-3">
		</div>
	</div>
</div>
