<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container" >
    <div class="row">
        <div class="col-xl-3">
        </div>

        <div class="col-xl-6 main">
            <h1>My Message</h1>
            <div class="row">
                <div class="col-xl-6">
                    <input type="button" onclick="window.open('/start_friendship', '_self')" value="Back">
                </div>

                <div class="col-xl-6">
                    <input class="delete" type="button" onclick="window.open('/clear_message', '_self')" value="Clear Message">
                </div>
            </div><br>

            <%- message_list -%>
        </div>

        <div class="col-xl-3">
        </div>
    </div>
</div>
