<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container" >
    <div class="row">
        <div class="col-xl-3">
        </div>

        <div class="col-xl-6 main">
            <h1>My Message</h1>
            <div class="row">
                <div class="col-xl-6">
                    <form action="/start_friendship" method="get">
                        <input type="submit" value="Back">
                    </form>
                </div>

                <div class="col-xl-6">
                    <form action="/clear_message" method="get">
                        <input class="delete" type="submit" value="Clear Message">
                    </form>
                </div>
            </div><br>

            <%- message_list -%>
        </div>

        <div class="col-xl-3">
        </div>
    </div>
</div>
