<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container" >
    <div class="row">
        <div class="col-xl-3">
        </div>

        <div class="col-xl-6 main">
            <form action="/search_by_email" method="post">
                <h1>Search User</h1>
                <label for="email_search">Enter E-Mail</label>
                <input class="box" type="text" name="email_search"
                       id="email_search" placeholder="example@123.com" required /><br>

                <input type="submit" value="Search"><br>
            </form>

            <form action="javascript:history.back()" method="get">
                <input type="submit" value="Cancel">
            </form>
        </div>

        <div class="col-xl-3">
        </div>
    </div>
</div>
