<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container" >
	<div class="row">
		<div class="col-xl-3">
		</div>

		<div class="col-xl-6 main">
			<form action="/signup" method="post">
				<h1>Signup</h1>

				<label for="first_name_signup">First Name</label>
				<input class="box" type="text" name="first_name_signup" id="first_name_signup"
					   placeholder="David" required /><br>

				<label for="last_name_signup">Last Name</label>
				<input class="box" type="text" name="last_name_signup" id="last_name_signup"
					   placeholder="Smith" required /><br>

				<label for="email_signup">E-Mail</label>
				<input class="box" type="email" name="email_signup" id="email_signup"
					   placeholder="explame@123.com" required /><br>

				<label for="password_signup">Password</label>
				<input class="box" type="password" name="password_signup" id="password_signup"
					   placeholder="Enter your password" required /><br>

				<label for="phone_signup">Phone</label>
				<input class="box" type="text" name="phone_signup" id="phone_signup"
					   placeholder="07421234567" required /><br><br>

				<input type="submit" value="Submit" /><br>
			</form>

			<form action="javascript:history.back()" method="get">
				<input type="submit" value="Return">
			</form>
		</div>

		<div class="col-xl-3">
		</div>
	</div>
</div>
