<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6 main">
			<h1>Email/Phone already exists!</h1>
			<p class="message">Spamming account is not allowed.</p>
			<form action="/signup_page" method="get">
				<input type="submit" id="signup_failed_return2signup_page"
					   value="Return" />
			</form>
		</div>
		<div class="col-lg-3">
		</div>
	</div>
</div>
