<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-xl-3">
		</div>
		<div class="col-xl-6 main">
			<h1>E-Mail address is taken!</h1>
			<p class="message">Please use a different email.</p>
			<form action="javascript:history.back()" method="get">
				<input type="submit" value="Return" />
			</form>
		</div>
		<div class="col-xl-3">
		</div>
	</div>
</div>
