<% layout('layout_general') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-xl-3">
		</div>
		<div class="col-xl-6 main">
			<h1>Signup Successful!</h1><br>
			<form action="/" method="get">
				<input type="submit" value="Return" />
			</form><br>
			<form action="/login_page" method="get">
				<input type="submit" value="Login" />
			</form>
		</div>
		<div class="col-xl-3">
		</div>
	</div>
</div>
