<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-8">
            <h1>It's a plane, it's a bird, it's <%= user_name %>.</h1><br>
        </div>

        <div class="col-xl-2">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-1">
        </div>

        <div class="col-xl-10 main">
            <p class="message">Let's start your journey by customizing your personal info,
                or jump right into the social pool!</p>

            <div class="row">
                <div class="col-xl-8">
                    <input type="button" onclick="window.open('/personal_info', '_self')" value="Personal Info">
                </div>

                <div class="col-xl-4">
                    <p>Upload your profile photo, fill in your info, make yourself special</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <input type="button" onclick="window.open('/fetch_me_one_page', '_blank')" value="Fetch Me One">
                </div>

                <div class="col-xl-4">
                    <p>Start making friends with random people</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <input type="button" onclick="window.open('/chat_lobby', '_blank')" value="Chat Lobby">
                </div>

                <div class="col-xl-4">
                    <p>Join the chat lobby, make your presence known</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <input type="button" onclick="window.open('/search_by_email_page', '_blank')" value="Search User">
                </div>

                <div class="col-xl-4">
                    <p>Search a user via E-Mail</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <input type="button" onclick="window.open('/account_info', '_self')" value="Account Info">
                </div>

                <div class="col-xl-4">
                    <p>Manage your account</p>
                </div>
            </div>
        </div>

        <div class="col-xl-1">
        </div>
    </div>
</div>
