<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-8">
            <h1>It's a plane, it's a bird, it's <%= user_name %>.</h1><br>
        </div>

        <div class="col-xl-2">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-1">
        </div>

        <div class="col-xl-10 main">
            <p class="message">Let's start your journey by customizing your personal info,
                or jump right into the social pool!</p>

            <div class="row">
                <div class="col-xl-8">
                    <form action="/personal_info" method="get">
                        <input type="submit" value="Personal Info" />
                    </form><br>
                </div>

                <div class="col-xl-4">
                    <p>Upload your profile photo, fill in your info, make yourself special</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <form action="/search_by_email_page" method="get">
                        <input type="submit" value="Search User" />
                    </form><br>
                </div>

                <div class="col-xl-4">
                    <p>Search a user via E-Mail</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <form action="/fetch_me_one_page" method="get">
                        <input type="submit" value="Fetch Me One" />
                    </form><br>
                </div>

                <div class="col-xl-4">
                    <p>Start making friends with random people</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <form action="/account_info" method="get">
                        <input type="submit" value="Account Info" />
                    </form><br>
                </div>

                <div class="col-xl-4">
                    <p>Manage your account</p>
                </div>
            </div>
        </div>

        <div class="col-xl-1">
        </div>
    </div>
</div>
