<% layout('layout_welcome') -%>
<% stylesheet('../stylesheets/style.css') -%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-2">
		</div>

		<div class="col-lg-8">
			<h1 id="welcome_title">Find and Enjoy Your Friendship in GlobalPal!</h1><br>

		</div>

		<div class="col-lg-2">
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-lg-3">
		</div>

		<div class="col-lg-3">
			<form action="/signup_page" method="get">
				<input type="submit" id="jump2signup_page"
					   value="Sign Up" />
			</form>
		</div>

		<div class="col-lg-3">
			<form action="/login_page" method="get">
				<input type="submit" id="jump2login_page"
					   value="Login" />
			</form>
		</div>

		<div class="col-lg-3">
		</div>
	</div>
</div>
